ion-header {
    background-color: #0f3864;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 15px 18px rgba(0, 0, 0, 0.2);

    ion-toolbar{
        --background: transparent;
        color: #FFFFFF;

        ion-back-button {
            color: #ffffff;
        }
    }
}

/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}


.no-items {
    margin:10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(var(--title) + var(--font-size-adj));
    }
}

ion-card {

    div {
        
        .storeCode {
            padding: 5%;
            font-size: calc(var(--normal) + var(--font-size-adj));
            font-weight: 600;
            background-color: #0f3864;
            color: #ffffff;

            span {
                font-size: calc(var(--normal) + var(--font-size-adj));
                font-weight: 400;
            }
        }
    }

    .cardcontent {
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .storeName, .userResponsible {
            font-size: calc(var(--smalltitle) + var(--font-size-adj));
            font-weight: 600;
            span {
                font-size: calc(var(--smalltitle) + var(--font-size-adj));
                font-weight: 400;
            }
        }
    }

    .address{
        padding: 0 5% 5% 5%;
        font-size: calc(var(--smalltitle) + var(--font-size-adj));
        font-weight: 600;
            span {
                font-size: calc(var(--smalltitle) + var(--font-size-adj));
                font-weight: 400;
            }
    }
}