ion-content {
    --ion-background-color: #ffffff !important;
}

ion-header {
    background-color: #0f3864;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 15px 18px rgba(0, 0, 0, 0.2);

    ion-toolbar{
        --background: transparent;
        color: #FFFFFF;

        ion-back-button {
            color: #ffffff;
        }
    }
}

ion-button {
    margin: 10%;
}
