ion-tab-button {
    --color-selected: #34ef7e;
    background-color: transparent;
    --color: #fff;
}

ion-tab-bar {
    // background: #31364B;
    background: #0f3864;
    border-radius: 15px 15px 0 0;
}