ion-content {
    --ion-background-color: #D1D2D4;
}

.wrapContent {
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}