<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button>
				<!-- <ion-icon name="apps"></ion-icon> -->
			</ion-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button class="bordered" fill="solid" color="light">
				<ion-icon color="custom" name="notifications"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<ion-item lines="none">

		<ion-avatar slot="start">
			<img src="../assets/images/download.jpg" alt="">
    </ion-avatar>
			<ion-label>
				<p>Hello,</p>
				<h3>USER</h3>
			</ion-label>

	</ion-item>

</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="">
            </div>
            <img class="files" src="">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">SHOP MAANAGER</ion-card-title>
            <ion-card-subtitle class="ion-text-right">For You</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="">
            </div>
            <img class="files" src="">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">SHOP MANAGER</ion-card-title>
            <ion-card-subtitle class="ion-text-right">For You</ion-card-subtitle>
            <ion-progress-bar value="0.4" color="warning"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>
  </div>

  <div class="container">

    <h2>Last File</h2>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h4></h4>
							<h6></h6>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

        <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="film"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h4></h4>
							<h6></h6>
						</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </div>

</ion-content>