ion-content {
    --ion-background-color: #E1EAF9 !important;
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none !important;

    .signin-btns {
        text-align: center;
        color: #F0F4FA;
        .loginbtn {
            --ion-color-primary: #0f3864;
            --background: #0f3864;
            --background-activated: #647B9D;
            --background-focused: #E1EAF9;
            --background-hover: #647B9D;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            font-size: calc(var(--normal) + var(--font-size-adj));
        }   

        .signupbtn {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            font-size: calc(var(--normal) + var(--font-size-adj));
        }
}    

    ion-card-title {
        margin-top: 0%;
        font-size: calc(var(--largetitle) + var(--font-size-adj));
        color: #080808;
        text-align: center;
        font-weight: 600;
    }

    ion-card-subtitle {
        padding-top: 2%;
        font-size: calc(var(--xsmalltitle) + var(--font-size-adj));
        color: #898585;
        text-align: center;
        font-weight: 300;
    }

    .text-tag {
        text-align: center;
        span {
            font-size: calc(var(--normal) + var(--font-size-adj));
            color: #898585;
        }
    }
}

img {
    width: 100%;
}

