ion-content {
    --ion-background-color: #E1EAF9 !important;
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none !important;
}

.wrapform {
    margin-top: 0%;
}

img {
    width: 100%;
}


ion-item {
    color: #647B9D;
    --border-color: #D4D7DB;
    --highlight-color-focused: #0f3864;
    --padding-start: 0;
    --inner-padding-end: 0;
    text-indent: 3%;
    font-size: calc(var(--smalltitle) + var(--font-size-adj));
    ion-input {
        color: #647B9D;
    }
    ion-input:hover {
        color: #0f3864;
    }
    ion-icon {
        font-size: calc(var(--normal) + var(--font-size-adj));
    }
}

.password_forgot {
    text-align: right;
    ion-button {
        font-size: calc(var(--xsmalltitle) + var(--font-size-adj));
        color: #0f3864;
        text-transform: none;
    }
}

.sign-btn-wrap {
    text-align: center;
    padding-top: 5%;
    .sign-btn {
        --ion-color-primary: #0f3864;
        --background: #0f3864;
        --background-activated: #647B9D;
        --background-focused: #E1EAF9;
        --background-hover: #647B9D;
        color: #F4F6FA;
        border-radius: 100%;
        width: 50%;
        font-size: calc(var(--normal) + var(--font-size-adj));
    }
}

.ion-card-footer {
    width: 100%;
    height: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    span {
        color: #85888D;
        font-size: calc(var(--xsmalltitle) + var(--font-size-adj));
        font-weight: 200;
    }
    button {
        background-color: transparent;
        font-size: calc(var(--xsmalltitle) + var(--font-size-adj));
        font-weight: 600;
        padding-left: 1%;
        color: #0f3864;
    }
    button:hover {
        color: #969393;
    }
}

.error_message {
    font-size: calc(var(--xsmalltitle) + var(--font-size-adj));
    font-weight: 200;
    color: #913e07;
}