<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Store Master</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="storeMasterCollection?.length > 0" mode="ios">
  <ion-card *ngFor="let carddata of storeMasterCollection">
    <div class="ion-no-padding">
      <div class="storeCode">
        Store Code:
        <span>
          {{ carddata.storeCode }}
        </span>
      </div>
      <div class="cardcontent">
        <div class="storeName">
          Name:
          <span>
            ₹ {{carddata.name}}
          </span>
        </div>
        <div class="userResponsible">
          User Responsible:
          <span>
            {{carddata.userResponsible}}
          </span>
        </div>
      </div>
      <div class="address">
        Address:
        <span>
          {{carddata.address}}
        </span>
      </div>
      <!-- <div class="line"></div> -->
      <div class="actionbtns">
        <ion-button class="deletebtn" expand="round" fill="clear" color="danger" (click)="deleteStoreMasterDetail(carddata)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button class="editbtn" expand="round" fill="clear" color="primary" [routerLink]="carddata.id">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/store-master-entry']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="storeMasterCollection?.length <= 0 || !storeMasterCollection">
  <div *ngIf="noItemData?.length <= 0 || !noItemData">
    <div class="ion-padding custom-skeleton" *ngFor="let i of [1,2,3,4,5]">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  </div>
  <div class="no-items">
    <h1>
      {{noItemData}}
    </h1>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/store-master-entry']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>