ion-header {
    background-color: #0f3864;
    text-align: center;
    box-shadow: 0px 15px 18px rgba(0, 0, 0, 0.2);

    ion-toolbar{
        --background: transparent;
        color: #FFFFFF;
    }
}

.confirmbtn {
    margin: 10%;
}

ion-icon {
    color: #ffffff;
}

ion-item {
    --padding-start: 0;
}